{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% block links %}{% endblock %}
    </head>
    <body>
        <header>
            {% if  request.user.is_authenticated %}
                <div class="header-logo">
                    <img src="{% static 'media/logo.svg' %}" alt="logo">
                </div>

                <nav class="header-nav">
                    <a href="{% url 'home' %}" class="page-link {% if request.path == '/' %}active{% endif %}">
                        <img src="{% static 'media/home.svg' %}" alt="home">Головна
                    </a>
    
                    <a href="{% url 'home' %}" class="page-link {% if request.path == '/my-cards/' %}active{% endif %}">
                        <img src="{% static 'media/gallery.svg' %}" alt="gallery">Мої публікації
                    </a>
    
                    <a href="{% url 'home' %}" class="page-link {% if request.path == '/friends/' %}active{% endif %}"> 
                        <img src="{% static 'media/people.svg' %}" alt="friends">Друзі
                    </a>
    
                    <a href="{% url 'home' %}" class="page-link {% if request.path == '/chats/' %}active{% endif %}"> 
                        <img src="{% static 'media/chat.svg' %}" alt="chat">Чати
                    </a>
    
                    <a href="{% url 'home' %}" class="page-link {% if request.path == '/setings/' %}active{% endif %} "> 
                        <img src="{% static 'media/settings.svg' %}" alt="settings">Налаштування
                    </a>
                </nav>

                <div class="header-logout-btn">
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="logout-btn"> <img src="{% static 'media/logout.svg' %}" alt="logout-btn"> Вихід</button>
                    </form>
                </div>

            {% else %}
                <div class="header-logo-2">
                    <img src="{% static 'media/logo.svg' %}" alt="logo">
                </div>                
            {% endif %}
        </header>

        <main>
            {% block content %}
                
            {% endblock %}
        </main>
        
    </body>
</html>